@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

/* css file */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding:0;
    
    background-color: #f6f5f4;
    /*
    background: url("img/wallpaper.jpg");
    background-position: right 300px top;
    background-width: 100%;
   */
    
}


header {
    text-align: center;
    margin: 20px auto 10px;
    font-family: 'Creepster', cursive;
    font-size:100px;

    margin: auto;
    width: 100%;
    padding: 0px 10px;
    border: 10px solid green;
    border-radius: 30px;
    background:  url("img/background.png");
}


h2 {
    font-family: 'Creepster', cursive;
    font-size:120px;

    margin: auto;
    width: 100%;
    padding: 0px 10px;
    border: 10px solid green;
    border-radius: 30px;
    background:  url("img/background.png");

}


/*
.banner {
    background: rgb(0,100,255) ;
    
}
*/

.container {
    margin: auto;
    width: 75%;
    background-color: rgb(200,200,30);
    border: 1px solid #ccc;
    padding: 60px 60px;
    text-align: center;
    margin: 0px auto;
}

.grassBoulder {
    margin: auto;
    width: 100%;
    
}

.fun-facts {
    margin: auto;
    width: 75%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 60px 60px;
    text-align: center;
    margin: 0px auto;
}

.spider-enemies {
    margin: auto;
    width: 33%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 0px;
    text-align: center;
    margin: 0px auto;
}


.myrow {
    display: flex;
}

.mycolumn {
    flex: 30%;
    padding: 5%;
    border: 2px solid #000;
}


.spider0 {
    //margin: auto;
    width: 100%;
    border: 1px solid #000;
    //border: 10px solid #0a0a0a;
    //border-radius: 30px;
    margin: 0px;
    padding: 0px;
    //text-align: center;
    //margin: 30px auto;
}


.spider4 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    //text-align: center;
    //margin: 30px auto;
}

.spider5 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    //text-align: center;
    //margin: 30px auto;
}

main p {
    text-align: left;
    padding: 20px;
    font-family: 'Poppins', serif;
    font-size: 30px;
    
}

main ul {
    //background-color: #ecfece;
    text-align: center;
    padding: 30px;
    color: rgb(255,0,0);
    
    border: 1px;
    border-radius: 50px;

    font-family: 'Poppins', serif;
    font-size: 40px;
    
}



main ol {
    //background-color: #decfed;
    color: rgb(255,25,25);
    text-align:center;

    font-family: 'eater', cursive;
    font-size:50px;
    border: 1px;
    border-radius: 30px;
    
}

footer {
    display: flex;
    justify-content: space-between;
    //margin: 50px;
    padding: 50px;
    background-color: orange;
    border: 1px;
    border-radius: 100px;
    font-family: "Creepster";
    font-size: 50px;
    
}


main p .intro {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: red;
    background-color:yellow;
}

main p .intro2 {
    font-family:'Courier New';
}


.row {
    display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


